@import "../App.scss";

.blog {
  @include flex(column, flex-start, flex-start);
  height: 85.5vh;

  .blog-top {
    background-color: transparent;
    padding: 1rem;
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid $gray-12;
    height: 6.5vh;

    .blog-top-header {
      @include flex(row, center, center);
      width: 100%;
      position: relative;
      height: 3vh;

      a {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        color: $white;
        @include flex(row, center, center);
        gap: 0.3rem;

        &.share-link {
          left: auto;
          right: 0.5rem;

          svg {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
        svg {
          height: 1.1rem;
          width: 1.1rem;
          color: $white;
        }

        span {
          font-size: 0.85rem;
          font-weight: 400;
          color: $white;
          height: 100%;
        }
      }

      h1 {
        color: $white;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }

  .blog-content {
    @include flex(column, flex-start, flex-start);
    gap: 0.2rem;
    height: 79vh;

    .blog-content-image {
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      .blog-content-image-arrow-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba($color: $black, $alpha: 0.5);
        border: none;
        padding: 0.5rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
        z-index: 1;
        cursor: pointer;
        @include flex(row, center, center);

        svg {
          height: 1.5rem;
          width: 1.5rem;
          color: rgba($color: $white, $alpha: 0.8);
        }

        &.prev {
          left: 0.5rem;
        }

        &.next {
          right: 0.5rem;
        }
      }
    }

    .blog-content-text {
      padding: 1rem;
      @include flex(column, flex-start, flex-start);
      gap: 1rem;
      width: 100%;

      h1 {
        color: $white;
        font-size: 1.8rem;
        font-weight: 600w;
      }

      .blog-content-text-date {
        @include flex(row, flex-start, center);
        gap: 0.5rem;
        width: 100%;

        span {
          color: $gray-4;
          font-size: 0.95rem;
          font-weight: 500;
        }
      }
    }
  }
}
