@import "../App.scss";

.drink-page {
  width: 100%;
  height: 92.5vh;
  @include flex(column, flex-start, flex-start);
  overflow: hidden;
  background-color: $gray-16;

  .drink-top {
    background-color: $gray-16;
    padding: 1rem;
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid $gray-12;
    height: 6.5vh;

    .drink-top-header {
      @include flex(row, center, center);
      width: 100%;
      position: relative;
      height: 3vh;

      a {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
        color: $white;
        @include flex(row, center, center);
        gap: 0.3rem;

        &.share-link {
          left: auto;
          right: 0.5rem;

          svg {
            width: 1.4rem;
            height: 1.4rem;
          }
        }
        svg {
          height: 1.1rem;
          width: 1.1rem;
          color: $gray-3;
        }

        span {
          font-size: 0.85rem;
          font-weight: 400;
          color: $white;
          height: 100%;
        }
      }

      h1 {
        color: $white;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }

  .drink-content {
    @include flex(column, flex-start, flex-start);
    gap: 0.2rem;
    height: calc(100% - 6.5vh);
    width: 100%;

    .drink-content-image {
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      .drink-content-image-arrow-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba($color: $black, $alpha: 0.5);
        border: none;
        padding: 0.5rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
        z-index: 1;
        cursor: pointer;
        @include flex(row, center, center);

        svg {
          height: 1.5rem;
          width: 1.5rem;
          color: rgba($color: $white, $alpha: 0.8);
        }

        &.prev {
          left: 0.5rem;
        }

        &.next {
          right: 0.5rem;
        }
      }
    }

    .drink-content-text {
      padding: 1.5rem;
      @include flex(column, flex-start, flex-start);
      gap: 1rem;
      width: 100%;
      position: relative;

      h1 {
        color: $white;
        font-size: 2rem;
        font-weight: 700;
      }

      .prices {
        @include flex(column, flex-start, flex-start);
        gap: 0.5rem;
        width: 100%;

        .price {
          @include flex(row, flex-end, flex-end);
          gap: 0.5rem;

          h5 {
            opacity: 0.8;
            font-size: 0.9rem;
            font-weight: 300;
            color: $gray-3;
          }
        }
      }

      h4 {
        color: $gray-3;
        font-size: 1rem;
        font-weight: 400;
      }

      p {
        color: $gray-4;
        font-size: 0.9rem;
        font-weight: 300;
      }

      .drink-content-text-date {
        @include flex(row, flex-start, center);
        gap: 0.5rem;
        width: 100%;

        span {
          color: $white;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}
