@import "../App.scss";

.home {
  background-color: $primary-color;
  @include flex(column, flex-start, flex-start);
  height: 85.6vh !important;
  overflow: hidden;
  a {
    height: calc(100% / 3) !important;
    width: 100%;
    text-decoration: none;
    position: relative;
    border-bottom: 0.1rem solid $gray-10;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: brightness(0.5);
    }

    h1 {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: $white;
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
